@import url("reset.css");
@import url("defaults.css");
@import url("components/index.css");

:root {
    --color__orange: #F7B262;
    --color__yellow: #F9F871;
    --color__red: #ecae9e;
    --color__blue: #00C6CF;
    --color__green: #00C896;
}